body{
    background-image: url("../img/Background.png");
}

.formCtn{
    background-color: rgb(47, 45, 45);
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    margin-top: 7%;
}

.formCtn h1{
    text-align: center;
    color: white;
}

.formCtn a{
    text-decoration: none;
    color: blue;
}

label, .noAcc{
    color: white;
}

#submit{
    background-color: red;
    width: 100%;
}



.formCtn .lgLink{
    color: white;
}

.formCtn #submit:hover,.formCtn a:hover,.formCtn .form-group:hover{
    opacity: 0.8;
}

.fgpassLink{
    margin-left: 115px;
}

.regisLink{
    margin-left: 90px;
}

.pad{
    padding-top: 7px;
}