body{
    background-color:#161e21 !important;
}
.formCtn{
    background-color: rgb(47, 45, 45);
    border-radius: 20px;
    width: 60%;
    padding: 20px;
    margin-top: 7%;
}
.form-control{
    width: 80%;
}

.container h1{
    text-align: center;
    color: white;
}

.container a{
    text-decoration: none;
    color: rgb(40, 40, 230);
}

label{
    color: white;
}

#submit{
    background-color: red;
    width: 100%;
    font-size: large;
    font-weight: bolder;
    color: white;
}

.container .rgLink{
    color: white;
}

#submit:hover, a:hover, .form-group:hover{
    opacity: 0.8;
}

.haveAcc{
    color: white;
}

.loginLink{
    margin-left: 100px;
}

.pad{
    padding-top: 7px;
}