<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div th:replace="~{fragments :: herosection}"></div>

<div th:replace="~{fragments :: slider}"></div>

<div th:replace="~{fragments :: action}"></div>
<div th:replace="~{fragments :: _banner}"></div>
<div th:replace="~{fragments :: cartoon}"></div>

<div th:replace="~{fragments :: script}"></div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>

