<!DOCTYPE html>
<html lang="en">
<head th:insert="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<div class="container mov-sec">
    <div class="left-section">
        <!-- Thông tin phim -->
        <section class="mov-sec row">
            <!-- Hình ảnh và xem phim -->
            <div class="movie-img col-12 col-md-4">
                <img th:src="'/images/movie/'+${movie.imgSrc}">
                <div class="row mx-0 d-flex justify-content-around">
                    <button type="button" class="btn btn-primary col-12 col-md-6 px-0 my-1" data-bs-toggle="modal" data-bs-target="#Trailer">Trailer</button>
                    <button type="button" class="btn btn-danger col-12 col-md-6 px-0 my-1">
                        <a th:href="'/watch/'+${movie.id}">
                            Xem phim
                        </a>
                    </button>
                </div>
            </div>

            <!-- Trailer -->
            <div class="modal fade" id="Trailer" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-body px-1 py-1">
                            <iframe src="#" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thông tin phim -->
            <div class="info-section col-12 col-md-8">
                <header>
                    <h1 class="title" th:text="${movie.name}"></h1>
                </header>
                <main>
                    <div style="border: 1px solid ; padding: 10px; margin-bottom: 20px; background-color: #222222; height: 250px; overflow-y: auto;">
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Loại phim:</div>
                            <div class="movie-info" th:text="1"></div>
                        </div>
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Trạng thái:</div>
                            <div class="movie-info" th:text="${movie.status}"></div>
                        </div>
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Thể Loại:</div>
                            <div class="movie-info">
                                <a th:each="_genre:*{genreList}" th:object="${_genre}" th:text="*{getGenre().getName()}"></a>
                            </div>
                        </div>
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Quốc gia:</div>
                            <div class="movie-info" th:text="${movie.nation}"></div>
                        </div>
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Năm:</div>
                            <div class="movie-info" th:text="${movie.releasedYear}"></div>
                        </div>
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Thời lượng:</div>
                            <div class="movie-info" th:text="${movie.duration}"></div>
                        </div>
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Lượt xem:</div>
                            <div class="movie-info" th:text="${movie.numViews}"></div>
                        </div>
                        <div class="movie-info-wrapper">
                            <div class="movie-info-title">Ngôn ngữ:</div>
                            <div class="movie-info">
                                Vietsub
                            </div>
                        </div>
                            <div class="movie-info-wrapper">
                                <div class="movie-info-title">Yêu thích:</div>
                                <form>
                                    <button id="follow" class="btn btn-danger" name="Id"><i class='bx bxs-heart'></i>Yêu thích</button>
                                </form>
                            </div>
                    </div>
                </main>

                <footer>
                    <div class="rating-section">
                        <h4 class="title">Rating</h4>
                        <div class="movie-rating" id="rating">
                            <div class="stars">
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="rating-info">
                                <span class="score">0</span>/10
                                <span class="votes">(0 votes)</span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>


            <!-- Nội dung phim -->
            <div class="below-movie-box">
                <span class="title">Mô tả</span><br>
                <span class="movie-description" th:text="${movie.description}"></span>
            </div>
        </section>
    </div>
</div>
<div th:replace="~{fragments :: script}"></div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
